/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 14, 2014, 4:36:22 PM
    Author     : jameskarasim
*/

#playlistdiv
{
    overflow-x: hidden;
    overflow-y: scroll;
    width: 90%;
    height: 30%;
    margin: 0px;
    border: 0px;
    padding: 0px;
    border: 2px solid;
    border-radius: 5px;
}

#analogplaylist > li:hover
{
    color:greenyellow;
}

#songlistdiv
{
    overflow-x: hidden;
    overflow-y: scroll;
    width: 90%;
    height: 30%;
    margin: 0px;
    border: 0px;
    padding: 0px;
    border: 2px solid;
    border-radius: 5px;
}