/* ANALOG ARCHIVE*/
/*jaemzware.org*/

body
{
    background-color: lightgray;
}

.current
{
    color:darkblue;
}

#currentsong
{
    font-size:smaller;
}

div.control
{
    text-align:left;
    width: 90%;
}

.error{
    color:red;
}

.highlighted {
    color: whitesmoke;
    background-color: black;
}

#playlistdiv
{
    overflow-x: scroll;
    overflow-y: scroll;
    width: 90%;
    height: 20%;
    margin: 0%;
    border: 0%;
    padding: 0%;
    border: 2px solid;
    border-radius: 1%;
    background-color: wheat;
    text-align: left;
}


#analogplaylist > li:hover
{
    color:darkorange;
}

#songlistdiv
{
    overflow-x: scroll;
    overflow-y: scroll;
    width: 90%;
    height: 40%;
    margin: 0%;
    border: 0%;
    padding: 0%;
    border: 1% solid;
    border-radius: 1%;
    background-color: wheat;
    text-align: left;
}

table
{
    border-collapse:collapse;
    width:90%;
}
table, td, th
{
    border:1px solid black;
}

#songsTable, #playlistdiv
{
    font-size:75%;
}



#albumarttd
{
    width:10%;
    text-align:center;
}

img
{
    /*
    width:10%;
    height:10%;
    */
}

li
{
    text-align:left;
}
